/*This is the main CSS file*/
html,body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #FFF;
    background-size: cover;
}
body {
    height: 100%;
    min-height: 100vh;
}
#header {
    height: 150px;
    margin: 0px;
    color: #FFF;
    background-color: #282828;
}
.content-wrapper{
    height: 100%;
    min-height: 100vh;
}
/*** Nav-Bar ***/
.navbar{
    display: block;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
#nav-wrapper ul li a:hover {
    color: #eee;
    background-color: rgba(0,0,0,.2);
    cursor: pointer;
   
}
#nav-wrapper ul li{
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    color: red;
}
#nav-wrapper a {
    display: block;
    color: #000;
    text-decoration: none;
}
.active {
    background-color: rgba(0,0,0,.7);
}
/*** Login Form ***/
.form-popup {
    display: flex; /*Needs to be flex when visible*/
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    border: 2px solid #f1f1f1;
    background-color: rgba(0,0,0,.6);
    padding: 10px;
}

.form-container{
    padding: 10px;
    max-width: 400px;
    background-color: rgba(255,255,255,.9);
}
/*** Browser/index ***/
#browser-wrapper {
    background: url("../images/theater.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-wrapper {
    position: relative;
    padding: 0px;
}
/*
.search-wrapper img{
    position: absolute;
    top: 0px;
    left: 0px;
}*/