/*This is the main CSS file*/
html,body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #FFF;
    background-size: cover;
}
#header {
    height: 150px;
    margin: 0px;
    color: #FFF;
    background-color: #000;
}
/*** Nav-Bar ***/
.navbar{
    display: block;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
#nav-wrapper ul li a:hover {
    color: #eee;
    background-color: rgba(0,0,0,.2);
    cursor: pointer;
   
}
#nav-wrapper ul li{
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    color: red;
}
#nav-wrapper a {
    display: block;
    color: #000;
    text-decoration: none;
}
.active {
    background-color: rgba(0,0,0,.7);
}
.login-wrapper {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    widows: 100%;
}